<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= render 'layouts/object_viewer' %>
    </div>
    <div class="col-xs-6">
      <h1>New planet</h1>

      <%= render 'form' %>

      <%= link_to 'Back', planets_path %>
    </div>
  </div>
</div>